body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #494949;
  text-transform: none;
  padding: 0;
  margin: 0;

  background-position: top left;
  background-repeat: no-repeat;
  background-color: #ebebeb;
  background-image: url('../img/bg-left.svg');
}

.container {
  width: 100%;
  max-width: 1068px;
  min-width: 537px;
  margin: 0 16.2%;
  padding: 0 2.6% 0 2.3%;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('../img/bg-right.svg');
  background-position: top right;
  background-repeat: no-repeat;
}

a, button {
  color: #494949;
  text-decoration: none;
  padding: 5px 10px;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0;
  margin: 0;
  padding-top: 27px;
  margin-right: 0.5%;
  margin-bottom: 10px;
}

.main-header-logo {
  width: 18%;
  margin: 0 auto;
}

.search-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
  align-self: center;
  flex-grow: 1;

  margin: 0 auto;
  padding-top: 25px;
  padding-right: 27px;
}

.search-main input {
  padding: 9px 0px 9px 0px;
  width: 320px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.search-link {
  background-color: #00aedb;
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 30px 5px 27px;
  align-self: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.main-navigation {
  margin-right: 0.5%;
}

.site-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation li {
  width: 10.9%;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}

.site-navigation li:first-child {
  background-color: #00aedb;
}

.site-navigation li:nth-child(2) {
  background-color: #8cc63f;
}

.site-navigation li:nth-child(3) {
  background-color: #5261ac;
}

.site-navigation li:nth-child(4) {
  background-color: #00aedb;
}

.site-navigation li:nth-child(5) {
  background-color: #f78f1d;
}

.site-navigation li:nth-child(6) {
  background-color: #ff0000;
  width: 10.6%;
}

.site-navigation li:last-child {
  width: 36%;
  background-color: #898989;
  text-align: left;
}

.site-navigation a {
  color: #ffffff;
}

.social-navigation {
  width: 13%;
  margin: 0 auto;
}

.social-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-list li {
  margin: 0 auto;
}

.social-list a {
  padding: 0;
  margin: 0;
  font-size: 0px;
}

.main-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main-post h2 {
  font-size: 37px;
  line-height: 43px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-top: 24px;
  margin-bottom: 12px;
  color: #000000;
}

.date-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 0;
  top: 0;
}

.date {
  position: absolute;
  display: block;
  right: 101%;
  top: 0;
  font-size: 35px;
  line-height: 37px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  margin: 0;
  margin-top: -14%;
  padding: 0;
  list-style: none;
}

.date li:first-of-type {
  background-color: #f78f1d;
  padding: 4px 10px 5px 17px;
}

.date li:last-of-type {
  background-color: #00aedb;
  font-size: 19px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 10px 0px 17px;
}

.main-post p:not(.date) {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
}

.part-center {
  width: 65.3%;
}

.part-right {
  width: 32.8%;
}

.slider-slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-controls {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.slider-controls label {
  cursor: pointer;
}

.photo-container {
  box-sizing:border-box;
  border: 1px solid #bfbfbf;
  padding: 13px 13px 6px 12px;
  margin: 0;
  margin-right: 3px;
  margin-bottom: 25px;
}

.photo-container img {
  max-width:100%;
  height:auto;
}

.slider-block {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 7px;
}

.slider-block img {
  flex-basis: 626px;
  flex-shrink: 0.2;
  min-width: 100px;
  min-height: 100px;
  box-sizing: border-box;
}

.slide {
  display: none;
}

#photo-1:checked~.slider-block #slide-1,
#photo-2:checked~.slider-block #slide-2,
#photo-3:checked~.slider-block #slide-3,
#photo-4:checked~.slider-block #slide-4 {
    display: block;
}

.photo-slider input {
  display: none;
}

.interests h3 {
  width: 100%;
  color: #ffffff;
  margin: 0;
  background-image: url('../img/icon-interests.svg');
  background-size:contain;
  background-repeat: no-repeat;
  font-size: 19px;
  line-height: 37px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 4px;
  padding-left: 17px;
}

.interests input {
  display: none;
}

.interests-controls {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.interests-controls label {
  width: 30%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 19px;
  line-height: 36px;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 10px;
}

.interests-controls label:first-of-type {
  background-color: #ec098d;
}

#fashion:checked~.interests-controls label[for=fashion] {
  background-image: url('../img/icon-fashion-checked.svg');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-bottom: 1px;
}

.interests-controls label:nth-child(2) {
  background-color: #f78f1d;
}

#movie:checked~.interests-controls label[for=movie] {
  background-image: url('../img/icon-movie-checked.svg');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-bottom: 1px;
}

.interests-controls label:last-of-type {
  background-color: #00aedb;
  width: 40%;
}

#tv:checked~.interests-controls label[for=tv] {
  background-image: url('../img/icon-tv-checked.svg');
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-bottom: 1%;
}

.slider-interests {
  list-style: none;
  padding: 0;
  margin: 0;
}

.interests-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.interests-list li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 4px;
  border-bottom: 1px solid #dedddd;
}

.interests-list li:nth-child(2) {
  padding-bottom: 15px;
  padding-top: 14px;
}

.interests-list li:nth-child(3) {
  padding-bottom: 15px;
  padding-top: 14px;
}

.interests-list li>img {
  width: auto;
}

.interests-preview {
  width: 71.2%;
}

.interests-link {
  padding: 0;
  color: #00aedb;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}

.interests-preview p {
  margin: 0;
  padding: 5px 0px;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
}

.slide-interests {
  display: none;
}

#fashion:checked ~ .slider-interests #fashion-1,
#movie:checked ~ .slider-interests #movie-2,
#tv:checked ~ .slider-interests #tv-3 {
  display: block;
}

.liked h3 {
  width: 95%;
  background-color: #5261ac;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 17px;
  line-height: 37px;
  font-weight: 700;
  padding-left: 17px;
  margin: 5px 0px;;
}

.liked-list {
  list-style: none;
  padding: 0;

}

.liked-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.liked-list li:nth-child(2) {
  margin-bottom: 17px;
}

.liked-list li:nth-child(2)>img,
.liked-list li:nth-child(3)>img {
  margin-top: 3px;
}

.liked-list img {
  width: auto;
}

.liked-list p {
  width: 72%;
  margin: 0;
  padding: 0;
  padding-top: 4px;
}

.liked-link {
  padding: 0;
  color: #00aedb;
  font-size: 13px;
  line-height: 28px;
  font-weight: 400;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
}
